<div class = "centered-content">
    <div class = "document-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">document</h1>
            <div class="list-menu">
                <a href="#" class="list-menu-item is-active" *ngFor="let document for documents">
                    <p clas="white-text">
                        Document 1
                        <span class="pull-right task-delete btn-rounded-corners">X</span>
                    </p>
                </a>
            </div>
            <button class="btn btn-primary btn-rounded-corners">Add Document</button>
        </div>
    </div>
</div>
