@import '../../../styles.scss';
.green{
    background: green;
}
.form-input{
    margin-top: 10px;
}
.textinsidep{
    margin-bottom: 0rem;
}
.file-upload{
    &:hover {
        cursor: pointer;
    }
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    height: 30px;
}
